/* 1903010226全局区域 */
body {
	background-image: url(../pic/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-size: cover;
	background-attachment: fixed;
}

/* 1903010226头部区域 */
#login_head {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 30px;
	left: 0;
	display: flex;
}

/* 1903010226logo区域 */
#login_head img {
	margin: 0 auto;
}

#browser {
	display: flex;
	margin: 0 auto;
}

#browser p {
	color: white;
	font-size: 12px;
	padding: 27px 5px 0 5px;
}

#browser img {
	width: 20px;
	height: 20px;
	padding: 25px 0 0 0;
}

/* 1903010226登录区域 */
#login {
	width: 350px;
	height: 350px;
	background-color: rgba(255, 255, 255, 0.9);
	opacity: 0.9;
	position: absolute;
	left: 1020px;
	top: 200px;
	z-index: 1;
	text-align: center;
	border-radius: 20px;
}

#login form {
	margin: 0 auto;
	padding-top: 28px;
}

#login input {
	margin: 13px 0;
	padding-left: 5px;
	border: 1px solid #cccccc;
}

.login_bar {
	width: 250px;
	height: 30px;
}

/* 1903010226版权区域 */
#foot {
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	top: 670px;
}
